*, *::before, *::after {
   box-sizing: border-box;
 }

body {
  font-family: 'Open Sans', sans-serif;
}

.search-bar {
  border: 1px solid #F1F1F1;
  height:75px;
  padding-left:25px;   
  width: 100%;   
}

.main-wrapper {
  width: 100%;
}

.header1 {
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
  display: flex;
  justify-content: flex-end;
  padding-left: 8px;
  width: 100%;
}

.fa-bars,
.fa-user,
.fa-bookmark,
.fa-question-circle {
  color: gray;
  font-size: 30px;
  margin: 10px;
}

.fa-caret-left {
  color: #02ACEB;
  font-size: 20px;
  margin-right: -7px;
}

.fa-bars:hover,
.fa-user:hover,
.fa-bookmark:hover,
.fa-question-circle:hover {
  background-color: #02ACEB;
  color: #FFFFFF;
  padding: 10px;
  transition: .2s;
}

.wrapper {
  display: flex;
}

/* --- Sidebar --- */

.sidebar-container {
  display: grid;
  max-width: 400px;
  position: relative; 
}

.oprah-container {
  align-items: center;
  border-bottom: 2px solid #2C3645;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
}

.oprah-image {
  border-radius: 100px;
  display: block;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  width: 80px;
}

.oprah-sidebar-title {
  padding: 10px 10px;
}

.oprah-sidebar-title i {
  display: inline;
}

.main-sidebar,
.admin-sidebar {
  color: #97A1AB;
  margin-top: 20px;
  padding-left: 15px;
}

em {
   font-style: normal;
}

a {
   text-decoration: none;
   color: inherit;
} 

.s-sidebar__trigger > i {
  display: inline-block;
  margin: 1.5em 0 0 1.5em;
  color: #D1D3D8;
}

.s-sidebar__nav {
  background: #243e56;
  color: rgba(255, 255, 255, 0.7);
  left: 0;
  overflow: hidden;
  position: relative;
  top: 0;
  transition: all .3s ease-in;
  width: 15em;
}

.s-sidebar__nav:hover,
.s-sidebar__nav:focus,
.s-sidebar__trigger:focus + .s-sidebar__nav,
.s-sidebar__trigger:hover + .s-sidebar__nav {
  left: 0;
}

.admin-container,
.main-section-container {
  border-bottom: 2px solid #2C3645;
}

.s-sidebar__nav ul {
  padding: 2px;   
}

.s-sidebar__nav ul li {
  align-items: center;
  display: flex;
  width: 100%;
}

.s-sidebar__nav-link {
  display: inline-block;
  height: 3em;
  position: relative;
  width: 100%;
}

.s-sidebar__nav-link em {
  position: absolute;
  top: 50%;
  left: 4em;
  transform: translateY(-50%);
}

.s-sidebar__nav-link:hover {
  background: #4d6276;
  border-left: 3px solid #02ACEB;
}

.s-sidebar__nav-link > i {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 3em;
  height: 3em;
}

.s-sidebar__nav-link > i::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.categories-sidebar {
  color: #97A1AB;
  margin-top: 20px;
  padding-left: 15px;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  padding-top: 0px;
}

/* --- Checkboxes --- */

input[type="checkbox"] {
  visibility: hidden;
}

input[type="checkbox"] + label:before {
  border: 1px solid #333;
  border-radius: 2px;
  content: "\00a0";
  display: inline-block;
  height: 20px;
  margin: 0 .25em 0 0;
  padding-bottom: 15px;
  vertical-align: top;
  width: 16px;
}

input[class="checkbox1"]:checked + label:before {
  background: yellow;
  color: #333;
  content: "\2713";
  text-align: center;
}

input[class="checkbox2"]:checked + label:before {
  background: #02ACEB;
  color: #333;
  content: "\2713";
  text-align: center;
}

input[class="checkbox3"]:checked + label:before {
  background: red;
  color: #333;
  content: "\2713";
  text-align: center;
}

input[class="checkbox4"]:checked + label:before {
  background: green;
  color: #333;
  content: "\2713";
  text-align: center;
}

.header2 {
  color: gray;
  display: flex;
  display: inline;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.header2 i {
  margin-left: 15px;
  margin-top: 10px;
}

.customer-service-rep-title {
  align-items: flex-start;
  display: flex;
  font-size: 25px;
  justify-content: flex-start;
  margin-left: 10px;
  padding-top: 50px;
}

.location-header-text,
.preview-text {
  display: inline;
  flex-direction: column;
  font-weight: lighter;
  font-size: 12px;
  margin: 5px;
}

.preview-text {
  color: #02ACEB;
}

.buttons-below-search-bar {
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
}

.buttons-below-search-bar i {
  align-items: center;
  border-radius: 100px;
  border: 1px solid gray;
  color: gray;
  display: flex; 
  height: 35px;
  justify-content: center;
  margin: 5px;
  width: 36px;
}

.open-button {
  border: 1px solid gray;
  border-radius: 100px;
  color: gray;
  font-weight: bold;
  height: 35px;
  margin: 5px;
  width: 90px;
}

.open-dot-icon {
  color: #8CC63E;
  font-size: 10px;
  margin-right: 5px;
}

.open-button:hover {
  background-color: #02ACEB;
}

.text-bar-above-graphs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
  width: 84%;
}

.ellipsis {
   display:none !important;
}

.text-bar-above-graphs a:hover {
  border-bottom: 3px solid #02ACEB;
  color: black;
  margin: 0px;
  transition: .2s;
}

.text-bar-above-graphs a {
  display: flex;
  font-size: 12px;
  font-weight: bold;
  margin: 5px;
  padding-bottom: 10px; 
  padding-top: 20px;
}

.line-with-caret {
  text-align: center;
}

span {
  display: inline-block;
  vertical-align: middle;
}

.outer-line {
  width: 45%;
  border-bottom: 1px solid lightgrey;
}

span.fas {
  background-color: #FFF;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  color: lightgrey;
  display: inline-block;
  font-weight: bold;
  padding: 0.3em 0.5em;
  vertical-align: middle;
}

/* Layout */

.main-container {
  background-color: #EDF2F6;
  width: 100%;
}

/* Graphs area */

.graphs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 44px;
}

.graphs-left {
  display: flex;
  margin-top: 40px;
}

.total {
  align-items: center;
  display: flex;
  justify-content: center;
}

.totals-button,
.applicants-button {
  border-radius: 100px;
  color: gray;
  font-size: 10px;
  font-weight: bold;
  margin: auto;
  padding: 7px 7px;
  width: 165px;
}

.square-graph img {
  display: flex;
  height: 200px;
  margin: auto;
}

.circle-graph {
  align-items: space-between;
  display: flex;
  
  flex-wrap: wrap;
  padding-left: 50px;
  width: 50%;
}

.circle-chart__circle {
  animation: circle-chart-fill 2s reverse;  
  display: flex;
  transform: rotate(5deg); 
  transform-origin: center; 
}

.circle-chart__info {
  animation: circle-chart-appear 2s forwards;
  display: flex;
  opacity: 0;
  transform: translateY(0.3em);
}

@keyframes circle-chart-fill {
  to { stroke-dasharray: 0 100; }
}

@keyframes circle-chart-appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.job-table-wrapper {
  background-color: #ECF2F6;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.job-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFF;
}

.job-bar {
  background-color: #717D94;
  color: #FFF;
  display: flex;
  justify-content: flex-start;
  padding: 10px 10px;
  width: 100%;
}

.job-bar p {
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
}

.job-grid-box {
  background-color: #FFF;
  display: grid;
  grid-gap: 0px;
  margin: 35px;
  width: 100%;
}

.box {
  background-color: #FFF;
  color: black;
  font-size: 12px;
}

.box p.text {
  align-items: flex-start;
  color: #717D94;
  display: inline-block;
  font-weight: bold;
  justify-content: flex-start;
  padding-left: 20px;
  width: 120px;
}

.box p.right {
  align-items: center;
  color: #717D94;
  display: inline-block;
  font-size: 12px;
  justify-content: center;
  margin-left: 10px;
}


.edit-button {
  background-color: #7C8BA6;
  border: none;
  color: #FFFFFF;
  display: flex;
  font-size: 12px;
  height: 25px;
  margin-top: 10px;
  width: 55px;
}

hr {
  color: #EEEEEE;
  border-style: solid;
  width: 95%;
}

.hr-social {
  color: lightgray;
  border-style: solid;
  width: 95%;
}

.description p {
  font-weight: bold;
}

p.right.grid-description {
  font-weight: normal;
}

.description {
  color: #717D94;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 35px;
}

.desription-box-text-details {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.lead-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  padding-top: 10px;
}

.lead {
  border-radius: 50%;
  display: inline;
  height: 50px;
  width: 50px;
}

p.right.grid-salary {
  font-weight: bolder;
}

.bottom-right-container {
  background-color: #ECF2F6; 
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
}

/* --- Social media buttons --- */

.social-media-buttons {
  display: flex;
  flex-direction: column;
  margin: 15px 0px 10px -10px;
  width: 150%;
}

.facebook-button,
.twitter-button,
.linkedin-button {
  align-items: center;
  border-radius: 3px;
  border: none;
  color: #FFF;
  display: flex;
  font-size: 12px;
  height: 40px;
  margin: 10px;
  width: 65%;
}

.facebook-button {
  background-color: #4B71C3;
}

.facebook-button i,
.linkedin-button i,
.twitter-button i {
  font-size: 17px;
  padding: 10px 80px 12px 10px;
}

.twitter-button {
  background-color: #01A9EF;
}

.linkedin-button {
  background-color: #037EBB;
}

.post-to {
  display: none;
}

.link-to-job-text,
.button-widget-text,
.resumes-by-email-text {
  color: #5F6B7E;
  display: inline;
  font-size: 14px;
  font-weight: bolder;
}

.social-media-inputs {
  margin: 15px 0px 10px 0px;
  width: 100%;
}

.social-media-inputs i {
  display: inline;
}

.input {
  color: #8F99A6;
  font-size: 10px;
}

.link-to-job,
.use-button-widget,
.upload-resumes-by-email {
  border: none;
  border-radius: 3px 0px 0px 3px;
  font-size: 10px;
  height: 30px;
  margin-bottom: 20px;
  padding-left: 10px;
  width: 85%;
}

.copy-button {
  margin-top: 20px;
  background-color: #47BAC1; 
  border: none;
  border-radius: 0px 3px 3px 0px;
  color: #FFF;
  font-size: 10px;
  height: 30px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1200px) {
  .sidebar-container {
    display: none;
  }

  .fa-caret-left {
    visibility: hidden;
  }
}

@media screen and (max-width: 910px) {
  .graphs {
  padding-top: 10px;
  width: 100%;
}

.graphs-left {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.totals-button,
.applicants-button {
  margin: 10px;
}

.square-graph {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.square-graph img {
  height: 200px;
  width: 300px;
  margin: 10px;
}

.circle-graph {
  display: block;
  padding-bottom: 20px;
  width: 100%;
}

.social-media-inputs {
  margin: 10px 0px 10px 0px;
  width: 100%;
}

.social-media-buttons {
  width: 140%;
}
}

@media screen and (max-width: 702px) {
.text-bar-above-graphs {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.social-media-inputs {
  margin: 10px 0px 10px 0px;
  width: 100%;
}

.link-to-job,
.use-button-widget,
.upload-resumes-by-email {
  display: inline;
  height: 30px;
  margin-bottom: 20px;
  padding-left: 10px;
  width: 75%;
  }

.copy-button {
  width: 20%;
}

.social-media-buttons {
  display: flex;
  flex-direction: column;
  width: 147%;
}
}

@media screen and (max-width: 590px) {

.text-bar-above-graphs {
  display: flex;
  flex-direction: row;
  width: 160%;
}

.ellipsis {
  display:block !important;
}

.activity,
.broadcast,
.notifications{
  visibility: hidden;
}

.box,
.description {
  font-size: 10px;
}

.social-media-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.facebook-button,
.twitter-button,
.linkedin-button {
  align-items: center;
  border-radius: 3px;
  border: none;
  color: #FFF;
  display: flex;
  font-size: 10px;
  height: 40px;
  margin: 10px;
  width: 100%;
}
}

@media screen and (max-width: 522px) {
  .job-grid-box {
    display: grid;
    font-size: 10px;
    padding-right: 10px;
    width: 95%;
  }

  .box p.right {
  font-size: 10px;
  }

.social-media-inputs i {
  font-size: 12px;
}

.bottom-right-container {
  padding: 35px;
  width: 95%;
  }

.facebook-button,
.twitter-button,
.linkedin-button {
  display: none;
}

.post-to {
  display: block;
}

.social-media-inputs {
  display: flex;
  flex-direction: column;
  padding-right: 15px;
  width: 165%;
}

.copy-button {
  margin-bottom: 20px;
  margin-top: -5px;
  width: 75%;
}

.link-to-job,
.use-button-widget,
.upload-resumes-by-email {
  display: inline;
  height: 30px;
  margin-bottom: 5px;
  padding-left: 10px;
  width: 75%;
  }
}

@media screen and (max-width: 498px) {
.header1 {
font-size: 12px;
}

.search-bar {
  height: 50px;
  padding-left: 8px;
}

.customer-service-rep-title {
  font-size: 20px;
  padding-top: 20px;
}

.buttons-below-search-bar {
  display: flex;
  justify-content: flex-start;
  height: 35px;
  margin: 10px;
}

.open-button {
  width: 80px;
  height: 30px;
}

.buttons-below-search-bar i {
  height: 25px;
  width: 25px;
}

  .text-bar-above-graphs {
    padding: 3px;
  }

  .text-bar-above-graphs a {
    font-size: 10px;
  }

  .job-grid-box {
    margin-left: 7px;
    padding-right: 0px;
  }

  .job-table-wrapper {
    display: block;
  }

  .bottom-right-container {
  padding: 15px;
  width: 100%;
  }

  .bottom-right-main {
    padding: 0px;
    width: 100%;
  }

  .social-media-buttons {
  display: flex;
  flex-direction: column;
  width: 133%;
}

.facebook-button,
.twitter-button,
.linkedin-button {
  display: none;
}

.post-to {
  display: block;
  width: 95%;
}

.outer-line {
  width: 37%;
}

.box, 
.grid-description {
  padding-right: 10px;
}

.social-media-inputs {
  display: inline;
  margin: 10px 0px 10px 0px;
  width: 100%;
}

.graphs {
  display: block;
}

.graphs-left {
  padding-left: 35px;
}

.applicants-button {
  display: inline;
  margin-bottom: 20px;
  margin-left: 70px;
}

.fa-caret-up {
    font-size: 12px;
}

.totals-button {
  display: none;
}

.link-to-job,
.use-button-widget,
.upload-resumes-by-email {
  border: none;
  border-radius: 3px 0px 0px 3px;
  font-size: 10px;
  height: 30px;
  margin-bottom: 0px;
  padding-left: 10px;
  width: 70%;
}

.copy-button {
  margin-top: 20px;
  background-color: #47BAC1; 
  border: none;
  border-radius: 0px 3px 3px 0px;
  color: #FFF;
  font-size: 10px;
  margin-top: 0px;
  height: 30px;
  width: 25%;
}

.link-to-job,
.use-button-widget,
.upload-resumes-by-email {
  display: inline;
  }
}

/* for circle graphs, media query will be
take off flex and display block at
approx. 750px */